.App {
  /* text-align: center; */
}

.verticle-flex {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
}
.horizontal-flex {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto;
}

.label-position {
  text-align: center;
  /* position: relative; */
}