.App {
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(12,auto);

  margin: 10px;
  outline: 1px solid black;
}

/* .v-flex {
  display: flex;
  flex-direction: column;  
}  */
.sources-grid {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: repeat(auto, 1fr);
}

.label-position {
  text-align: center;
}

.ns-all {
  padding: 5px;
  outline: 1px solid black;
}
.ns-1 {
  grid-row: 1;
}
.ns-2 {
  grid-row: 2;
}
.ns-3 {
  grid-row: 3;
}
.ns-4 {
  grid-row: 4;
}